/* 0. Root Properties */

/* 1. Reset  */
/* 1. Use a more intuitive box-sizing model */
*,
*::before,
::after {
  box-sizing: border-box;
}

/* 2. Reset default margin, padding, and font inheritance */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 3. Remove default list styles for elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 2. General Styles */

body {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  line-height: 1.5;
}

/* 3. Components */

/* Header */
.primary-header {
  padding: 1em;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.nav-list {
  display: flex;
  gap: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 2vw, 1rem);
}

@media (min-width: 1024px) {
  .nav-list {
    font-weight: 700;
  }
}

/* Featured Post */
.featured-post {
  background-image: url(/learning-journal/images/blog-image-hero-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 293px;
  color: hsl(0, 0%, 100%);
}

@media (min-width: 1024px) {
  .featured-post {
    background-image: url(/learning-journal/images/blog-image-hero-desktop.png);
    height: 488px;
  }

  .featured-post__content {
    padding-top: 14em;
  }
}

.featured-post__content {
  padding-top: 5em;
  max-width: 70ch;
}

.featured-post__date,
.post__date {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 2vw, 1rem);
}

.featured-post__title {
  font-size: clamp(1.75rem, 4vw, 2.75rem);
}

.featured-post__desc {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.6;
}

@media (min-width: 1024px) {
  .featured-post {
    background-image: url(/learning-journal/images/blog-image-hero-desktop.png);
    height: 488px;
  }

  .featured-post__content {
    padding-top: 14em;
  }
}

/* Recent Posts */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em 1.5em;
  padding: 2em 0;
}

.post__image {
  width: 100%;
}

.post__title {
  font-size: 1.5rem;
}

.post__desc {
  color: hsl(0, 0%, 31%);
}

.recent-posts__view-more {
  display: block;
  margin-inline: auto;
  margin-bottom: 2em;
  background: none;
  border: none;
  text-decoration: underline;
}

.primary-footer {
  background-color: #000000;
  padding: 2em;
  color: #ffffff;
  text-align: center;
}

.primary-footer div {
  font-weight: 600;
}
/* 4. Utility Classes */

.container {
  max-width: 1085px;
  padding-left: 1.5em;
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 3em;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap; /* Prevents text wrapping */
  border: 0;
}
