/* 0. Root Properties */

/* 1. Reset  */
/* 1. Use a more intuitive box-sizing model */
*,
*::before,
::after {
  box-sizing: border-box;
}

/* 2. Reset default margin, padding, and font inheritance */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 3. Remove default list styles for elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 2. General Styles */

body {
  font-family: "Source Sans 3", sans-serif;
  color: hsl(0, 0%, 8%);
  line-height: 1.5;
}

/* 3. Components */

/* 4. Utility Classes */

.container {
  max-width: 1085px;
  padding: 0 1.5em;
  margin-inline: auto;
}
